body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#f4f7fc;
}

.container{
    display:flex;
}

.sidebar{
    width:220px;
    background:#0f172a;
    color:white;
    min-height:100vh;
    padding:20px;
}

.content{
    flex:1;
    padding:30px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
}

.card{
    background:white;
    border-radius:15px;
    padding:20px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
}

.card p{
    font-size:40px;
    color:#2563eb;
    margin:10px 0;
}
.filter-box{
    display:flex;
    gap:15px;
    align-items:end;
    margin:20px 0;
    flex-wrap:wrap;
}

.filter-item{
    display:flex;
    flex-direction:column;
}

.filter-item label{
    font-size:14px;
    font-weight:bold;
    margin-bottom:5px;
}

.filter-item input,
.filter-item select{
    padding:10px;
    border:1px solid #ddd;
    border-radius:8px;
    min-width:180px;
}

#btnFilter{
    background:#2563eb;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:8px;
    cursor:pointer;
}

#btnFilter:hover{
    background:#1d4ed8;
}
